<!DOCTYPE html>
<html>
  <head>
    <title>Jiggler</title>
    <style>
      <%= styles %>
    </style>
  </head>
  <body>
    <h1>Jiggler</h1>
    <div id="content">
      <div>Hello World! <%= processes_set %></div></br>
      <div>Processed: <%= processed_count %></div></br>
      <div>Failed: <%= failed_count %></div></br>
    </div>
  </body>
</html>
